@font-face {
    font-family: "Apple Symbols";
    src: url("fonts/Apple_Symbols.ttf");
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;

}

div {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Apple Symbols";
    background: linear-gradient(50deg, #366059, #345a84, #243c74) no-repeat !important;
    font-size: 1.3vw;
    color: #666;
}

a {
    display: block;
}

a:link, a:visited {
    text-decoration: none;
    color: #666666;
}

input, select, button, textarea {
    outline: none;
}

.search_field {
    border: none;
    background: #eeeeee;
    height: 2.97vw;
    width: 70%;
    padding: 0 0 0 20px;
    font-size: 100%;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0eb2b1;
    width: 2.97vw;
    height: 2.97vw;
    padding: 0.8vw 0.6vw 0.6vw 0.6vw;
}

.search-btn img {
    width: 80%;
    height: 80%;
}

ul, li {
    list-style: none;
}

.wrap {
    width: 93%;
    margin: auto;
}

header {
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}


/*Colors*/
.light-green-font {
    color: #0eb2b1;
}

.light-green {
    background: #0eb2b1;
}

.gray-font {
    color: #7d7c7c;
}

/*Colors*/
.carousel-block {
    background: #fff;
    width: 58%;
    position: relative;
    height: 19.51vw;
}

.slick-carousel .item img {
    width: 100%;
}

.links-cont {
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-item a {
    display: flex;
    justify-content: center;

}

.link-item a img {
    height: 8.92vw;
    width: 8.92vw;
}


.links-cont .block1, .links-cont .block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-cont .block1 {
}


.profile-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #fff;
}

.profile-icon {
    width: 100%
}

.profile-icon img {
    width: 100%;
}

.profile-name {
    width: 90%;
    margin: 0 auto;
}

.profile-name .description-text {
    font-size: 13px;
}

.profile-stats {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

.profile-stats .info-stats {
    position: relative;
    width: calc(100% / 3);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.profile-stats .info-stats:not(:last-child){
    border-right: 1px #ffffff solid;
}

.profile-stats .info-stats:before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: translateY(-6%);
    background-size: cover;
}

.info-stats.views:before {
    background-image: url("../assets/img/views.svg");
}

.info-stats.comments:before {
    background-image: url("../assets/img/chat.svg");
}

.info-stats.likes:before {
    background-image: url("../assets/img/like.svg");
}

.content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.main-section {
    display: flex;
    width: 82%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-between;
}

nav {
    position: relative;
    background: #fff;
    width: 100%;
    height: 5.95vw;
}

.menu_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.menu_block .nav_link {
    display: flex;
    width: calc(58% / 5);
    border-right: 1px solid #c9c9c9;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav_link a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_block .nav_link:not(:last-child):hover {
    background-color: #0eb2b1;
    transition: ease 0.4s;
}

.menu_block .nav_link:not(:last-child):hover a {
    color: #fff;
}

.menu_block .nav_link:hover .home-icon {
    fill: #ffffff;
}

.nav_link.home svg {
    width: 40px;
    height: 40px;
}

.menu_block .nav_link:first-child {
    width: 7%;
}

.menu_block .nav_link:last-child {
    width: 35%;
}

.right-section {
    width: 15%;
}

.switch_dropdown-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.profile-dropdown .profile-items {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 1px;
    background-color: #0eb2b1;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.request-numbers {
    position: absolute;
    font-size: 15px;
    top: 50%;
    transform: translateY(-12.5px);
    right: 30px;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    padding: 2px 0 0 0;
    height: 25px;
    line-height: 1.5;
}

.profile-dropdown .profile-items:after {
    content: '';
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    right: 15px;
    top: 50%;
}
.dropdown-items:after {
    content: none !important;
}

.profile-dropdown .profile-items.active:after {
    border-bottom: 4px solid #fff;
    border-top: 0;
    transform: translateY(-50%);
}

.profile-items.dropdown-items {
    margin-bottom: 1px;
    background-color: #fff;
    color: #666;
    display: none;
}

.profile-items.dropdown-items.active {
    display: flex;
}

.profile-items.dropdown-items .request-numbers {
    right: 10px;
    border-color: #666666;
}

.switch-container {
    width: 100%;
}

.switch_of, .switch_on {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 1px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
}

.range-input {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.switch {
    right: 10px;
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 27px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: -1px;
    bottom: -2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0eb2b1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0eb2b1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    border: 1px solid #3b8282;
}

.user-column {
    margin-top: 40px;
    display: flex;
    width: 25%;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
}

.user-block {
    display: flex;
    width: 100%;
    height: 450px;
    background: #fff;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    padding-top: 45px;
}

.user-block .user-img {
    display: flex;
    justify-content: center;
}

.user-block .user-img img {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #0eb2b1;
    width: 180px;
    height: 180px;
}

.user-block .user-name {
    margin-top: 45px;
}

.user-block .user-name .user-nickname {
    font-size: 15px;
    margin-top: 3px;
}

.user-block .follow-btn {
    height: 45px;
    width: 70%;
    background: #0eb2b1;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.follow-btn img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.user-block .follow-btn:hover {
    background-color: #418282;
    transition: background-color 0.4s ease;
}

.user-column .user-dropdown {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.user-column .user-dropdown.active {
    background-color: #0eb2b1;
    color: #fff;
}

.triangle {
    display: flex;
    border: 6px solid transparent;
    border-top: 6px solid #666;
    margin-top: 8px;
}

.triangle.active {
    border-bottom: 6px solid #fff;
    border-top: 0;
    margin: 0 0 4px 0;
}

.circle.active {
    border: #fff solid 2px;
}

.circle {
    border: 2px solid #666666;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dropdown {
    height: 100%;
    width: 50px;
    border-left: #b8b8b8 1px solid;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-dropdown.active {
    border-left: none;
}

.user-dropdown {
    width: 100px;

}

.options-cont {
    width: 100%;
    position: relative;
}

.options-cont.active:after {
    content: '';
    position: absolute;
    top: -12px;
    right: 18px;
    border: 6px solid transparent;
    border-bottom: 6px solid #fff;
}

.options-cont .options {
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #fff;
    margin-bottom: 2px;
    display: none;
}

.options-cont .options:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0eb2b1;
}

.options-cont .options.checked {
    background-color: #64b0b0;
    color: #fff;
}

.options-cont .options.active {
    display: flex;
    transition: 0.5s ease;
}

.weather_and_warning-column {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.weather-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 310px;
    width: 100%;
    margin-top: 40px;
    background-color: #0eb2b1;
}

.position_select {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 20px 15px;
    color: #fff;
}

.weather-now img {
    width: 120px;
    height: 120px;
}

.weather-now {
    display: flex;
    justify-content: center;

}

.temperature {
    color: #fff;
    font-size: 120px;
    line-height: 1.35;
    margin-left: 30px;
}

.weather_on_week-cont {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.weather_on_week-cont .weather-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    border-top: 1px solid #243c74;
    height: 80px;
    color: #fff;
}

.weather_on_week-cont .weather-item:not(:first-child) {
    border-left: 1px solid #243c74;
}

.weather_on_week-cont .weather-item img {
    width: 30px;
    height: 30px;
}

.warning-cont {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.warning-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 10px;
}

.warning-item.green {
    color: #84b263;
    background-color: #dfefd9;
    border-left: 3px solid #d6e8c7;
}

.warning-item.blue {
    color: #6dc1d3;
    background-color: #d9edf6;
    border-left: 3px solid #bde8f0;
}

.warning-item.yellow {
    color: #f0c372;
    background-color: #fcf8e4;
    border-left: 3px solid #fbeed6;
}

.warning-item.red {
    color: #c46876;
    background-color: #f2dede;
    border-left: 3px solid #eed3d7;
}

.close_btn {
    width: 30px;
    height: 30px;
}

.calendar_form-column {
    width: 34%;
}

.calendar-cont {
    margin-top: 40px;
    background-color: #fff;
    width: 100%;
    height: 410px;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0eb2b1;
    color: #fff;
    padding: 25px 20px;
}

.left-arrow img, .right-arrow img {
    width: 100%;
}

.left-arrow {
    transform: rotate(180deg);
}

.left-arrow, .right-arrow {
    height: 40px;
    width: 40px;
}

.weekdays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 20px auto;
}

.weekdays li {
    display: flex;
    justify-content: center;
    width: calc(100% / 7);
}

#days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.days-list {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
}

.days-list .active {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.days-list .active:after {
    content: '';
    border-radius: 50%;
    border: 1px solid #666666;
    width: 28px;
    position: absolute;
    height: 28px;
    top: -4px;
    left: -2px;
}

.form-cont {
    padding: 20px 0 0 0;
    display: flex;
    background-color: #fff;
    margin-top: 40px;
    width: 165%;
}

.form-inside {
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.form-inside input {
    margin: 0 0 20px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 17px;
}

.input-forms {
    width: 48%;
    background-color: #eeeeee;
    border: none;
}

.input-forms:focus {
    background-color: #fff;
    border: 1px solid #eeeeee;
}

.incorrect-input {
    width: 57%;
    background-color: #f2dede;
    border: 1px solid #c46876;
    color: #c46876;
}

.active-input {
    width: 38%;
    border: 1px solid #eee;
}

.text-input {
    width: 100%;
    height: 60px;
    background-color: #eeeeee;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 17px;
}

input[type ='submit'] {
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background-color: #0eb2b1;
    color: white;
    font-size: 20px;
}

.range-input .range1, .range-input .range2 {
    width: 90%;
    margin: auto;
    padding: 20px 0 0 0;
}

input[type='range'] {
    width: 100%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #ffffff;
    font-weight: normal;
    outline: none;
    border-radius: 50%;
    color: #ffffff;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background: #0eb2b1;
}

.ui-widget.ui-widget-content {
    border: 1px solid #ffffff;
    height: 8px;
    width: 80%;
    margin: 30px auto 0;
    background: #eee;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: .8em !important;
    height: .8em !important;
    cursor: default !important;
    -ms-touch-action: none;
    touch-action: none;
}

@media all and ( max-width: 1200px) {
    .content-wrap{
        margin-top: 30px;
    }
    .user-column{
        margin-top: 30px;
    }

    .weather-cont{
        margin-top: 30px;
    }
    .calendar-cont{
        margin-top: 30px;
    }
    .range-input{
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .ui-widget.ui-widget-content{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .warning-item .close_btn{
        width: 20px;
        height: 20px;
    }
    .warning-item{
        height: 40px;
        padding: 5px;
    }
    .form-inside input {
        margin: 0 0 10px;
        height: 30px;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 100%;
    }
    input[type ='submit']{
        font-size: 100%;
    }
    .text-input {
        width: 100%;
        height: 50px;
        background-color: #eeeeee;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .switch{
        width: 52px;
        height: 21px;
    }
    .slider:before{
        height: 24px;
        width: 24px;
        left: 1px;
        bottom: -2px;
    }
    .request-numbers{
        font-size: 12px;
        width: 20px;
        height: 20px;
        padding-top: 2px;
    }
    .profile-dropdown .profile-items
    {
        font-size: 16px;
    }
    .warning-cont{
        padding: 10px;
        height: 247px;
        margin-top: 30px;
    }
    .user-block .user-img img{
        width: 140px;
        height: 140px;
    }
    .user-block{
        height: 350px;
    }
    .follow-btn img {
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    .user-block .follow-btn{
        margin: 35px auto 0 auto;
        height: 40px;
    }
    .form-cont{
        padding: 10px 0 0 0;
    }
    .profile-stats .info-stats:before{
        height: 15px;
        width: 15px;
    }
    .profile-stats .info-stats{
        height: 35px;
    }
    .user-block{
        padding-top: 30px;
    }

    .weather-cont{
        height: 270px;
    }
    .temperature{
        font-size: 90px
    }
    .weather-now img{
        height: 90px;
        width: 90px;
    }
    .form-cont{
        margin-top: 30px;
    }
    .weather_on_week-cont .weather-item{
        height: 70px;
    }
    .profile-dropdown{
        margin-bottom: 30px;
    }
    .user-column .user-dropdown{
        margin-top: 30px;
    }
    .options-cont .options{
        height: 40px;
    }
    .user-column .user-dropdown{
        height: 40px;
    }
    .profile-dropdown .profile-items{
        height: 43.5px;
    }
    .calendar-cont{
        height: 367px;
    }
    .days-list{
        height: 41px;
    }
}

@media all and ( max-width: 1400px) {
    .warning-cont{
    }
    .weather-now img{
        height: 100px;
        width: 100px;
    }
    .temperature{
        font-size: 100px
    }
    .left-arrow, .right-arrow{
        width: 2.4vw;
        height: 2.4vw;
    }
}

@media all and ( max-width: 960px){
    .switch_of, .switch_on{
        height: 40px;
    }
    .days-list{
        height: 35px;
    }
    .profile-dropdown .profile-items{
        height: 37.5px;
    }
    .user-block{
        height: 340px;

    }
    .user-block .user-name {
        margin-top: 25px;
    }
    .user-block .user-img img {
        width: 120px;
        height: 120px;
    }
    .circle.active {
        border: #fff solid 1px;
    }
    .circle{
        width: 25px;
        height: 25px;
    }
    .temperature{
        font-size: 80px
    }
    .weather-now img{
        height: 80px;
        width: 80px;
    }
    .weather-cont{
        height: 250px;
    }
    .warning-cont {
        height: 227px;
    }
    .calendar-cont {
         height: 327px;
     }
}